.containerL{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10em;

}

.baseL {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    background-image: url("./brancobackground.jpg");
}
.imagemL{
    width:30%;
}

.inputsL{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
    margin-right: 16px;
    vertical-align: middle;
    width: 30%;
}

.LoginButton{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
    vertical-align: middle;
    width: 15%;
}


.LoginButton button:hover{
    background-color: #5fc2b0;
    border-color: #5fc2b0;
    color:#141414 ;
}

.CadastroLink {
    color: #5fc2b0;
}

.novoL {
    display: flex;
    flex-direction: row;
    padding: 1em;
    font-size: 1em;
}


@media (max-width:500px){
    .containerL{
        padding:2em;
    }
    .imagemL{
        width: 13em;
    }
    .novoL{
        flex-direction: column;
    }
    .inputsL{
        width:10em;
    }
}

@media (max-width:1000px) and (min-width:500px){
    .containerL{
        padding:2em;
    }
    .imagemL{
        width:20em;
    }
    .novoL{
        flex-direction: column;
    }
    .inputsL{
        width:13em;
    }
    .CadastroLink{
        display: flex;
        justify-content: center;
    }
}

@media (max-width:1300px) and (min-width:1000px){
    .imagemL{
        width:20em;
    }
    
}