.containerL{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10em;

}

.baseL {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    background-image: url("./brancobackground.jpg");
}

.inputsL{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
    vertical-align: middle;
    width: 40%;
}

.LoginButton{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
    vertical-align: middle;
    width: 15%;
}


.LoginButton button:hover{
    background-color: #5fc2b0;
    border-color: #5fc2b0;
    color:#141414 ;
}

.CadastroLink {
    color: #5fc2b0;
}

.novoL {
    display: flex;
    flex-direction: row;
    padding: 1em;
    font-size: 1em;
}


