@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

.cadastroAlterar{
    display: flex;
    flex-direction: column;
    background-image: url("./brancobackground.jpg");
}

.cadastreAD{
    font-size: 2.5em;
    font-family: 'Fira Sans';
    padding:0.5em;
    padding-bottom: 0em;
}
.descricaoAD{
    padding:0.61rem;
}

.containerAD{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.inputsAD{
    width: 30em;
}
.dropButtonAD{
    padding-bottom: 1em;
}
.btn-primary {
    color: #5FC2B0;
    background-color: #5FC2B0 !important;
    border-color: #5FC2B0 !important;
}
.CadastrarButtonAD{
    padding-top: 1em;
    display:flex;
    align-items: center;
}
    

.CadastrarButtonAD button:hover{
    background-color: #5fc2b0;
    border-color: #5fc2b0;
    color:#141414 ;
    
}
.descricaoAD{
    width: 30em;
    height: 10em;
    border-style:inset;
    border: 1px solid #ced4da
}
.cadastre2AD{
    font-size: 1em;
    font-family: 'Fira Sans';
}
.btn-outline-dark {
    margin-bottom: 1em;
    margin-left:0.5em;
    margin-right:0.5em;
    
}


@media (max-width:330px){
    .cadastreAD {
        padding:1em;
        padding-bottom: 0em;
        font-size: 1.8em;
    }
    .inputsAD{
        width:15em;
    }
    .cadastre2AD{
        font-size: 0.7em;
        margin-left: 15px;
    }
    .descricaoAD {
        width: 90%;
    }
}

@media (max-width:600px) and (min-width:330px) {
    .cadastreAD {
        font-size: 2em;
        padding:1em;
        padding-bottom:0em;
        font-size: 1.8em;
    }
    .inputsAD{
        width:20em;
        margin-right: 10px;
    }
    .cadastre2AD{
        font-size: 0.8em;
        margin-left: 10px;
    }
    .descricaoAD {
        width: 20em;
    }
}