@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap');

.conteudoS{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./fundoServicos.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f8f8f8;
    padding-top:3em;
}
.underSearch{
    display:flex;
    justify-content: space-between;
}
.textS{

    font-family: 'Fira Sans';
    font-size: 4em;

}

.textoS{
    padding-top: 5em;
    padding-bottom: 5em;
    padding-right: 1em;
    width: 750px;
}

.emprego{
    padding:2em;
    height: 3em;
    width: 15em;
    margin: .7em;
}

.trabalhos{

    padding-top: 5em;
    padding-bottom: 5em;
}

.barraBusca{
    display: flex;
    flex-direction: row;
    position:absolute;
    justify-content: center;
    padding: 1em;
    width: 100%;
}
.pesquisa {
    display: flex;
    width: 50%;
    height: 4.25vh;
    border-radius: 50px;
    padding-left: 1%;
}

.searchButton button:hover{
    display: flex;
    border-radius: 50px;
    background-color: #5fc2b0;
    border-color: #5fc2b0;
    color:#141414 ;
}
.btn.btn-outline-success.btn-sm {
    display: flex;
    border-radius: 50px;
}
.searchButton {
    margin-left: 1%;
    width : 3em;
}
.iconservicos{
    width: 2em;
    height: 1.5em;
    padding: 0.2em;
}


@media (max-width : 1350px) {
    .conteudoS {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .textoS{
        text-align: center;
        font-size: 0.7em;
        padding-top: 25px;
        padding-bottom: 0px;
        padding-left: 0px;
        
    }
    .trabalhos{
        text-align: center;
        padding-top: 0px;
        padding-right: 0px;
    }
    .textS{
        padding-left: 120px;
        padding-right: 120px;
        font-size:3em;
        width:100%;
    }

}


@media (max-width : 650px) {
    .conteudoS {
        display: flex;
        flex-direction: column;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #f8f8f8;
    }
    .textoS{
        text-align: center;
        font-size: 0.7em;
        padding-top: 25px;
        padding-bottom: 0px;
        padding-left: 0px;
        
    }
    .trabalhos{
        text-align: center;
        padding-top: 0px;
        padding-right: 0px;
    }
    .textS{
        padding-left: 120px;
        padding-right: 120px;
        font-size: 2em;
        width:100%;
    }
    .emprego{
        padding:2em;
        height: 3em;
        width: 15em;
        margin: .7em;
    }
}


@media (max-width : 500px) {
    .conteudoS {
        display: flex;
        flex-direction: column;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #f8f8f8;
    }
    .textoS{
        text-align: center;
        font-size: 0.7em;
        padding-top: 25px;
        padding-bottom: 0px;
        padding-left: 0px;
        
    }
    .trabalhos{
        text-align: center;
        padding-top: 0px;
        padding-right: 0px;
    }
    .textS{
        padding-left: 120px;
        padding-right: 120px;
        font-size: 1.5em;
        width:100%;
    }
    .emprego{
        padding:1.3em;
        height: 2.5em;
        width: 60%;
        margin: .7em;
    }
}

@media (max-width : 320px) {
    .conteudoS {
        display: flex;
        flex-direction: column;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #f8f8f8;
    }
    .textoS{
        text-align: center;
        font-size: 0.55em;
        padding-top: 20px;
        padding-bottom: 0px;
        padding-left: 0px;
        
    }
    .trabalhos{
        text-align: center;
        padding-top: 0px;
        padding-right: 0px;
    }
    .textS{
        padding-left: 10%;
        padding-right: 10%;
        font-size: 1.2em;
        width:100%;
    }
    .emprego{
        padding:1.5em;
        height: 2.5em;
        width: 60%;
        margin: .7em;
    }
    .btn-group-sm>.btn, .btn-sm {
        padding: .25rem .5rem;
        font-size: .55rem !important;
        border-radius: .2rem;
    }
    .btn {
        font-size: .8rem;
    }
}