@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

.home {
    display: flex;
    flex-direction:column;
    font-family: 'Fira Sans';
}

.carrossel {
    display: flex;
    margin-left: 27.5%;
    width: 45%;
    align-items: center;
}

.areaCarrossel {
    background-color: #FABE36;
    background-position: right; 
}