@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap');

.home {
    display: flex;
    flex-direction:column;
    font-family: 'Fira Sans';
}

.carrossel {
    display: flex;
    margin-left: 27.5%;
    width: 45%;
    align-items: center;
}

.areaCarrossel {
    background-color: #FABE36;
    background-position: right; 
}



.bora {
    padding: 5em;
    background-color: #5FC2B0;
    display: flex;
    flex-direction: column;
}

.titulo {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    margin-left: 11%;
    font-size: larger;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 600%;
}

.textoLogo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 18%;
    margin-right: 11%
}
.texto{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 250%;
}
.logo{
    width:30%;
    padding: 1%;
}

.botoes {
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 15%;
    width: 32%;
    height: 300%;
}




.historia {
    background-color: #5FC2B0;
    
}
.margem{
   display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 0em; 
    margin-left: 11%;
    margin-right: 11%;
    margin-top: 2%;
}

.textoHist {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 125%;
    margin-right: 15%;
    margin-top: 4%;
}

.desenho {
    width:49%;
}




.notas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 15%;
    margin-left: 15%;
}

.missao {
    border-style: solid;
    background-color: #FCC034;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 29%;
    align-items: center;
}
.titleMissao {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 175%;
    margin-top: 16%;
}
.notasMissao {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 125%;
    text-align: center;
}



.visao {
    border-style: solid;
    background-color: #FCC034;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 29%;
    align-items: center;
}
.titleVisao {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 175%;
}
.notasVisao {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 125%;
    text-align: center;
}


.valores {
    border-style: solid;
    background-color: #FCC034;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 29%;
    align-items: center;
}
.titleValores {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 175%;
}
.notasValores {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 125%;
}

