@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

.home {
    display: flex;
    flex-direction:column;
    font-family: 'Fira Sans';
}

.carrossel {
    display: flex;
    margin-left: 27.5%;
    width: 45%;
    align-items: center;
}

.areaCarrossel {
    background-color: #FABE36;
    background-position: right; 
}



.bora {
    padding: 5em;
    background-color: #5FC2B0;
    display: flex;
    flex-direction: column;
}

.titulo {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    margin-left: 11%;
    font-size: larger;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 600%;
}

.textoLogo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 18%;
    margin-right: 11%
}
.texto{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 250%;
}
.logo{
    width:30%;
    padding: 1%;
}

.botoes {
    display: flex;
    justify-content: space-between;
    margin-left: 11%;
    margin-right: 11%;
    width: 40%;
    height: 300%;
}




.historia {
    background-color: #5FC2B0;
    
}
.margem{
   display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 2em; 
    margin-left: 11%;
    margin-right: 11%;
    margin-top: 5%;
}

.textoHist {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 100%;
    margin-right: 15%
}

.desenho {
    width:40%;
}