.cabecalhoN{
    display: flex;
    background-color: #CBF3F0;
    justify-content: space-between;
}
.navbar {
    margin-right: 9em;
}
.navbarLink {
    font-size: 1.2em;
    padding: 15px;
    text-decoration: none;
    color: black;
}
.navbarLink:hover{
    background-color: black;
    color: #CBF3F0;
}
.logoN{
    width:25%;
    padding: 1%;
    margin-left: 11%;
}