@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap');

.cabecalhoN{
    display: flex;
    background-color: #CBF3F0;
    justify-content: space-between;
    align-items: center;
    padding-right: 5%;
}
.navbar{
    overflow: hidden;
}
.navbarLink {
    font-size: 1.7em;
    padding: 15px;
    text-decoration: none;
    color: black;
}
.buttonNavbar{
    font-size:2em;
    display: none;
    width: 1.2em;
    height: 1.2em;
}
.iconNavbar{
    display: flex;
    padding: 1em;
    width:10%;
}

.navbarLink:hover, .buttonNavbar:hover{
    background-color: black;
    color: #CBF3F0;
}
.logoN{
    max-width:65%;
    padding: 1%;
    margin-left: 11%;
}
.LogoButton {
    width: 40%;
}
.iconeN {
    padding-top: 0.32em;
    
    font-size: 1.2em;

    color: black;
    font-family: 'Fira Sans';
}

/* .personN {
    
        width: 0.9em;
        height: 0.9em;

} */

@media (max-width: 780px)  {
    .cabecalhoN {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-right:5%;
        justify-content: center;
        padding-top: 2%;
        padding-bottom: 2%;
    
    }
    .navbar {
        display: none;
        height: 0;
        width: 0;
    }
    .logoN{
        max-width: 75%;
        margin-left: 5%;
    }
    .buttonNavbar{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .LogoButton{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 75%;
        justify-content: center;
    }
    .avatarN {
        width: 3em;
        height: 3em;
    }
    
}
@media (max-width:380px) {
    .MuiAvatar-root.MuiAvatar-circular.MuiAvatar-colorDefault.avatarN.css-1ac1rp-MuiAvatar-root {
        width:25px;
        height:25px;
    }
    .iconeN {
        font-size: 0.9em;
    }
}
@media (max-width: 1065px) and (min-width:780px){
    .cabecalhoN {
        display: flex;
        flex-direction: row;
        padding-right:5%;
        justify-content: center;
    }
    .navbar {
        display: none;
        height: 0;
        width: 0;
    }
    .logoN{
        max-width: 75%;
        margin-left: 3%;
    }
    .buttonNavbar{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .LogoButton{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 75%;
        justify-content: center;
    }
    .MuiAvatar-root.MuiAvatar-circular.MuiAvatar-colorDefault.avatarN.css-1ac1rp-MuiAvatar-root {
        width:50px;
        height:50px;
    }
}

@media (max-width: 1351px) and (min-width:1065px) {
    .navbarLink{
        font-size: 1.4em;
    }
    .navbar{
        width: 61%; 
    }
    .LogoButton{
        width:61%;
    }
}





