@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

.rodape {
    padding-top: 1em;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    font-family: 'Fira-Sans';
    background-color:#CBF3F0;
}

.text1{
    font-size: 1em;
    padding-left: 11.3%;
}
.text2{
    font-size: 1em;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
}
.text3{
    font-size: 1.8em;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
}
.iconFooter{
    width:3em;
    height: 3em;
}
.iconEmail{
    font-size: 1em;
}
.Ficouduvida{
    padding-right: 11.3%;
}
.iconEmail{
    width: 1.5em;
    height: 1.5em;
}
.emailF{
    display: flex;
}

@media (max-width:800px) {
    .text1{
        font-size: 0.7em;
    }
    .text2{
        font-size: 0.7em;
    }
    .text3 {
        font-size: 1.3em;
    }
    .iconFooter{
        width: 2em;
        height: 2em;
    }
    .iconEmail {
        width: 1.1em;
        height: 1.1em;
    }
}

@media (max-width:320px) {
    .text1{
        font-size: .6em;
    }
    .text2{
        font-size: .6em;
    }
    .text3 {
        font-size: .65em;
    }
    .iconFooter{
        width: 1.4em;
        height: 1.4em;
    }
    .iconEmail {
        width: .7em;
        height: .7em;
    }
}